*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("images/bg-pattern-top-desktop.svg");
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}
.container{
    padding: 63px 20px;

}
.box-top{
    text-align: center;
}
h1{
    padding: 0 34px;
    margin-bottom: 17px;
    color: hsl(300, 43%, 22%);
}
.top-1 p{
    line-height: 20px;
    padding: 0 27px;
    color: hsl(303, 10%, 53%);
}
.top-2{
    margin: 35px 0;
}
.top{
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: hsl(300, 24%, 96%);
}
.top h3{
    margin-top: -4px;
    color: hsl(300, 43%, 22%);
    padding-bottom: 11px;
}
.top img{
    padding: 12px 0;
}
.b{
    background-color: hsl(300, 43%, 22%);
    margin-bottom: 15px;
    margin-bottom: 15px;
    padding: 36px 25px;
    border-radius: 6px;
}
.flex{
    display: flex;
}
.flex img{
    border-radius: 50%;
    width: 47px;
    height: 47px;

}
.b p{
    color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    margin-top: 23px;
    line-height: 20px;
}
h3{
    display: block;
    margin-top: 6px;
    margin-left: 17px;
    color: hsl(0, 0%, 100%);
}
span{
    display: block;
    margin-top: 26px;
    margin-left: -99px;
    color: hsl(333, 80%, 67%);
}
.bottom-3 span{
    margin-left: -105px;

}
.bottom-2 span{
    margin-left: -101px;
}

@media only screen and (min-width:1024px){
    .container{
        padding: 140px 160px;
    }
    .box-top{
        display: flex;
    }
    .top-1{
        flex-basis: 50%;
        
    }
    h1{
        padding-right: 150px;
    text-align: start;
    padding-left: 0;
    }
    .top-1 p{
        text-align: left;
    padding-left: 0;
    padding-right: 68px;
    }
    .top-2{
        flex-basis: 60%;
        margin-top:12px;
        margin-left: 239px;
    }
    .top{
        display: flex;
    width: 401px;
    height: 52px;
   
    }
    .top img {
        margin-left: 11px;
    padding-bottom: 17px;
    padding-top: 20px;
    }
    .top h3{
        margin-top: 21px;
    margin-left: 24px
    }
    .report{
        margin-left: 50px;
        
    }
    .tech{
        margin-left: 100px;
    }
    .bottom{
        display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    }
    .bottom-1{

    }
    .bottom-2{
        margin-bottom: -8px;
        margin-top: 26px;
    }
    .bottom-3{
        margin-bottom: -36px;
    margin-top: 57px;
    }
    
}